a {
  color: inherit;
}

button {
  font-family: inherit;
}

.drop-cap::first-letter {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 0.85;
  float: left;
  padding: 6px 8px 0 0;
  color: #a31621;
}

@media (max-width: 1023px) {
  .drop-cap::first-letter {
    font-size: 56px;
    padding: 4px 8px 0 0;
  }
}
